body {
    background-color:#fff;
}

.navbar-title {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
    height:39px;
    font-family:'Work Sans', sans-serif;
    font-size:17px;
    border-bottom:1px solid;
    border-color:#898989;
}

.container {

}

.square-container {
    border:1px solid black;
    width:400px;
    height:400px;
    position:absolute;
    top:120px;
    left:0;
    right:0;
    margin:auto;
    background-color:rgba(245,245,245,1);
    font-family:'Quattrocento Sans', sans-serif;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /*align-items:center;
    justify-content:center;*/
}

.dropzone {
    border:1px solid black;
    flex-grow:1;
}

#square-instruction {
    z-index:200;
    font-family:arial;
    color:#898989;
    position:absolute;
    left:50%;
    margin-left:-100px;
    top:305px;
}

#btnSave {
    position:absolute;
    left:50%;
    margin-left:207px;
    margin-top:390px;
}

.pic-square {

}

canvas {
    width:200px;
}
